body{
    background-color:rgb(11, 12, 15);
    background-repeat: no-repeat;
	background-position-x: center;
	background-size: cover;
}

 /*Menu*/
 .menu ul{
	float:left;
	width:97%;
	background-color:#6987BF;
	height: 40px;
	position: fixed;
	/* position: relative; */
	margin: 1px;
	}
	.menu ul li{
	display: inline;
	float: left;
	margin-left: 0px;
	width: 100px;
	height: 100%;
	}
	.menu ul li a{
	display:block;
	text-decoration:none;
	cursor:pointer;
	line-height: 40px;
	text-align: center;
	color:lightgray;
	font-size: 14px;
	font-family: "Verdana";
	}
	.menu li ul li{
	margin: 0;
	float: left;
	display:inline;
	width: 100%;
	height: 40px;
	text-align: center;
	}
	.menu li ul a{
	line-height: 40px;
	color:gray;
	}
	.menu li ul{
	display: none;
	position:relative;
	z-index: 1;
	background-color: gray;
	width: 200px;
	height: auto;
	left: 0px;
	}
	.menu li ul li:hover{
	background-color:#6987BF;
	}
	.menu li:hover ul{
	display: block;
	float: left;
	}
	.menu li:hover a{
	color:white;
	}
   
   
   



/* :,c */





/* copyright */
.copy{
	overflow: hidden;
	background-color:rgb(9, 1, 73);
	margin-top: 8em;
	text-align: center;
	height: 10em;
	color: white;
   
}

.barra{
	background: #092327;
}


#logo{
	width: 70px;
	height: 70px;
	
}



/*Redes */
.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    left: -40px;
    top: 250px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.fa-facebook-f{
    background: #3b5998;
}
.fa-twitter{
    background: #00abf0;
}
.fa-get-pocket{
    background: #ae181f;
}
.fa-facebook-messenger{
    background: #0084ff;
}
.fa-whatsapp{
    background: #25d366;
}
.fa-google-plus-g{
    background: #d95232;
}
.social a:hover{
    padding: 10px 25px;
}


/* Carros en columna */
/* .Carro1{
	margin: 1px;
	width: 1330px;
	height: 580px;
	display: block;

} */
#carro1{
	margin: 1px;
	width: 1330px;
	height: 580px;
	display: block;

}
#carro2{
	margin: 1px;
	width: 1330px;
	height: 580px;
	display: block;
}
#carro3{
	margin: 1px;
	width: 1330px;
	height: 580px;
	display: block;
}

/* texto dentro de los carros */
#contenido1{
	position: relative;
	display: inline-block;
}
#tx1{
	position: absolute;
	top: 120px;
	left: 65%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: black;
}
#boton1{
	position: absolute;
	top: 190px;
	left: 75%;
	
}
