body{
    background-color:rgb(11, 12, 15);
    background-repeat: no-repeat;
	background-position-x: center;
	background-size: cover;
}

 /*Menu*/
 .menu ul{
	float:left;
	width:100%;
	background-color:#6987BF;
	height: 40px;
	position: fixed;
	
	/* position: relative; */
	margin-top: -10px;
	}
	.menu ul li{
	display: inline;
	float: left;
	margin-left: 0px;
	width: 110px;
	height: 100%;
	}
	.menu ul li a{
	display:block;
	text-decoration:none;
	cursor:pointer;
	line-height: 40px;
	text-align: center;
	color:lightgray;
	font-size: 14px;
	font-family: "Verdana";
	}
	.menu li ul li{
	margin: 0;
	float: left;
	display:inline;
	width: 100%;
	height: 40px;
	text-align: center;
	}
	.menu li ul a{
	line-height: 40px;
	color:gray;
	}
	.menu li ul{
	display: none;
	position:relative;
	z-index: 1;
	background-color: gray;
	width: 100px;
	height: auto;
	left: 0px;
	}
	.menu li ul li:hover{
	background-color:#6987BF;
	}
	.menu li:hover ul{
	display: block;
	float: left;
	}
	.menu li:hover a{
	color:white;
	}
   
   
   



/* :,c */





/* copyright */
.copy{
	overflow: hidden;
	background-color:rgb(9, 1, 73);
	margin-top: 0em;
	text-align: center;
	height: 10em;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.barra{
	background: #092327;
}


#logo{
	width: 55px;
	height: 40px;
	
}



/*Redes */
.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    left: -40px;
    top: 250px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.fa-facebook-f{
    background: #3b5998;
}
.fa-twitter{
    background: #00abf0;
}
.fa-get-pocket{
    background: #ae181f;
}
.fa-facebook-messenger{
    background: #0084ff;
}
.fa-whatsapp{
    background: #25d366;
}
.fa-google-plus-g{
    background: #d95232;
}
.social a:hover{
    padding: 10px 25px;
}


/* Carros en columna */
/* .Carro1{
	margin: 1px;
	width: 1330px;
	height: 580px;
	display: block;

} */
#carro1{
	margin: 0px;
	width: 104%;
	height: 580px;
	display: block;

}
#carro2{
	margin: 0px;
	width: 100%;
	height: 580px;
	display: block;
}
#carro3{
	margin: 0px;
	width: 100%;
	height: 580px;
	display: block;
}

/* texto dentro de los carros */
#contenido1{
	position: relative;
	display: inline-block;
	

}
#tx6{
	position: absolute;
	top: 468px;
	left: 7%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color:white;
}
#tx1{
	position: absolute;
	top: 70px;
	left: 50%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: black;
}
#boton1{
	position: absolute;
	top: 175px;
	left: 68%;
	
}
/* estilo del boton de cada imagen */
#bc1:link, #bc1:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
  }
  
  #bc1:hover, #bc1:active {
	background-color: red;
  }
/* estilo del boton */

/* contenido2 */
  #contenido2{
	position: relative;
	display: inline-block;
}
#tx2{
	position: absolute;
	top: 700px;
	left: 5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: black;
}
#tx3{
	position: absolute;
	top: 1090px;
	left: 5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color:white;
}
#boton2{
	position: absolute;
	top: 800px;
	left: 12%;
	
}

/* Contenido 3 */
#contenido3{
	position: relative;
	display: inline-block;
}
#tx4{
	position: absolute;
	top: 1200px;
	left: 50%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: black;
}
#tx5{
	position: absolute;
	top: 1680px;
	left: 7%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color:white;
}
#boton3{
	position: absolute;
	top: 1279px;
	left: 80%;
	
}


/* Login */
#Form{
	width: 15%;
    height: 20%;
    /* position: fixed; */
	padding:25px;
    visibility: hidden;
    opacity: 0;
	text-align:center;
	margin-left: 77%;
}
#Form:target{
    background: #6987BF;
    visibility: visible;
    opacity: 1;
}
#x{
visibility:hidden;
width:40px;
height:40px;
display:block;
margin-left: 85.5%;

}

#Entrada{
	background-color: rgb(34, 209, 195);
	color: black;
	display: inline-block;
	margin-left: 481%;
	width: 100%;
}

#cerrar{
	margin-left: 95%;
	color: chartreuse;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#botonc{
	width: 30px;
	height: 30px;
}