/*Menu*/
.menu ul{
	/* float:left; */
	width:auto;
	background-color:#02112c;
	height: 80px;
	margin: 0%;
	}
	.menu ul li{
	display: inline;
	float: left;
	margin-left: 0px;
	width: 100px;
	height: 100%;
	}
	.menu ul li a{
	display:block;
	text-decoration:none;
	cursor:pointer;
	line-height: 40px;
	text-align: center;
	color:lightgray;
	font-size: 14px;
	font-family: "Verdana";
	}
	.menu li ul li{
	margin: 0;
	float: left;
	display:inline;
	width: 100%;
	height: 40px;
	text-align: center;
	}
	.menu li ul a{
	line-height: 40px;
	color:gray;
	}
	.menu li ul{
	display: none;
	position:relative;
	z-index: 1;
	background-color: gray;
	width: 200px;
	height: auto;
	left: 0px;
	}
	.menu li ul li:hover{
	background-color:#6987BF;
	}
	.menu li:hover ul{
	display: block;
	float: left;
	}
	.menu li:hover a{
	color:white;
	}
   



.copy {
	line-height: 180%;
	color:white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}



/* :,c */




/* copyright */
#copyright{
	overflow: hidden;
	background-color:rgb(9, 1, 73);
	margin-top: 28em;
	text-align: center;
	height: 20em;
	
   
}

/* .barra{
	background: #092327;
} */

#logo{
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

#sac{
    text-align: center;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

#T1{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
}